
name: Build and Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Build the application
      run: |
        dotnet add package Microsoft.NETCore.App.Runtime.win-x64
        dotnet restore cs-office-mcp-server\cs-office-mcp-server.csproj /p:RuntimeIdentifier=win-x64
        msbuild cs-office-mcp-server\cs-office-mcp-server.csproj /t:Publish /p:PublishProfile=cs-office-mcp-server\Properties\PublishProfiles\FolderProfile.pubxml

    # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: cs-office-mcp-server\bin\Release\net8.0\publish\win-x64
